<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ingreso Seguro</title>
	<!--<link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}"> -->
	<!-- <link    href="{{url_for('static', filename='js/index.js')}}"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link href="../static/css/styles.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
		type="text/css" />

</head>

<body>
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
	<div class="container">

		<button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
			data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
			aria-expanded="false" aria-label="Toggle navigation">
			Menú
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto">
				<SOTROS< /a>
					</li>
					<div class="dropdown">
						<div class="  px-0" id="dropdownMenuButton">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
								data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								INGRESO
							</button>
							<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end"
								aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="./registro">Registrarse</a>
								<a class="dropdown-item" href="./login">Ingresar</a>
							</ul>
						</div>
					</div>
			</ul>
		</div>
	</div>
</nav>
	<div style="margin: 100px; "></div>
	<div class="container pt-1">
		<div class="row">
			<div class="row ">
				<div class="col-md-5">
					<!--Tarjeta formulario-->
					<div class="card col-form-label">
						<div class="card-header">
							<h1>INGRESA TUS DATOS PARA REGISTRARTE</h1> <br>
							{% with messages = get_flashed_messages(with_categories=true)%}
							{% if messages %}
							<div class="alert alert-success" role="alert">
								{% for category, message in messages %}
								{{category}} {{message}}
								{% endfor %}
							</div>
							{% endif %}
							{% endwith %}
						</div>
						<div class="card-body">
							<form action="/registrarusuario" method="POST">
								<div class="form-group">
									<label for="Correo">Correo: </label>
									<input type="text" name="correo" class="form-control">
								</div>
								<div class="form-group">
									<label for="contraseña">Contraseña: </label>
									<input type="password" name="contraseña1" class="form-control">
								</div>
								<div class="form-group">
									<label for="contraseña">Repetir Contraseña: </label>
									<input type="password" name="contraseña2" class="form-control">
								</div>

								<div class="form-group d-grid gap-2">
									<button type="submit" class="btn btn-success mt-3 ">Registrarse</button>
								</div>
							</form>
						</div>
					</div>
					<!--Fin Tarjeta formulario-->

				</div>

			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
	<!-- <script src="{{url_for('static', filename='js/index.js')}}"></script> -->
	<script src="js/scripts.js"></script>
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>